

<h2>
    Vision
</h2>
<p>
    Our visios is to be a Model of service excellence in the hotel industry.
</p>
<h2>
    Values
</h2>
<p>
    Our core values reflect what is really important and 
    matters to us as a Hotel in the Hospitality Industry. They are
    the solid foundation and main principles of our hotel
    culture. We will maintain our values by consistently working
    hard and improve to the standard in order to preserve the image that makes 
    Interservice Hotel (U) Ltd so successful and Special...!

    <img class="left-side" src="images/kampala.jpg" alt="Front Green" width="500" height="320">

</p>
<h2>
    Who We Are
</h2>
<p>
    We are in the hospitality industry, and we take that very
    seriously.
    <br>
    We believe that the customer comes first, and that it's up to us to give them
    a comfortable and stress free stay at our location. Out main 
    goal is to be the most successful hotel in the hospitality
    industry and we will achieve this by offering a level of service.
    excellence that would be uniersally recognized by visitors from the world.
</p>
<h2>
    Industry Overview
</h2>
<p>
    There are thousands of choices for overnight lodging, including
    hotels, motels , inns, B&B, and even Gues houses. But we believe
    what's missing in the hotel industry is a Service Quality
    by its Standard. Interservice Hotel will fill that gap. Our
    Customer will be those tired of the current accomodation options that fail 
    to meet the General expectation of Genuine Service and Hospitality. 
    <br>
    We will be investing in the type of customer who wants excellent hospitality and friendly, efficient services 
    through out highly trained staff, which anticipate the need of our guest and provide 
    an efficient service with smile, warm, and genuine welcome. 
</p>
<h2>
    Our Philosophy
</h2>
<p>
    Out business philosophy is "Exceeding Guest Expectations" and we know that
    we can honor that philosophy through travelers with a smile, warm 
    and friendly atmosphere that provide them strong sense of location, 
    whether for style or function through our well trained staff who are intuitive, engaging, passionate, and eagerly to deliver services 
    above and beyond the guests expectation.
    <br>
    We will be able to compete in the market place because we provide 
    accomodation of acceptable quality and comfort. Because we will serve customer who wants a secure, safe and pleasant stay during 
    their travel and need proximitcy to public, private, Government, NGO, financial institutions and 
    direct access to other service facilities.
</p>
<p>
    
Situated in Kampala, 600 m from Kabalagala Market, Interservice Hotel features accommodation with a restaurant, 
free private parking, a bar and a shared lounge. 2.5 km from Clock Tower Gardens - Kampala and 2.6 km from Kampala Wonder 
World Amusement Park, the property offers a garden and a terrace. The accommodation provides a 24-hour front desk, room service 
and currency exchange for guests.
</p>