
<style>
  div{
    text-align: center;
  }
  div > video{
    width: 60%;
    height: auto;
  }
  div > p{
    width: 70%;
    margin-left: 20%;
  }
  .img-left{
      float: left;
      display: inline;
  }
  img{
    margin: 0%;
  }
</style>
<h2>Newly Built Detached Bar</h2>
<div style="margin: 8vw;">
  <video>
    <source src="images/barjosy.mp4" type="video/mp4">
  </video>
</div>
<ul style="margin: 5vw;">
    <img class="right-side" src="images/barjosy.png" alt="Front night" width="80%" height="75%">
    <h2 style="padding-top: 3vw;">Delux Room</h2>
    <h4>Single Occupancy</h4>
    <p>One Guest Staying in the Room</p>
    <h4>Double Occupancy</h4>
    <p>Couples sharing same room</p>
</ul>
<ul style="margin-top: 23vw; margin-left:5vw;">
  <h2 style="font-size: 4vw; font-weight:bolder; font-style:italic;">Resaurant</h2>
  <img class="left-side" src="images/bar1.jpg" alt="Front night" width="80%" height="75%">
  <h2 style="padding-top: 5%;">Foods Served</h2>
  <h4>asdfasdlkfjadsf</h4>
  <p>klsjdfjsadljkf</p>
  <p>sdaklföjdslkafj</p>
</ul>
<ul style="margin-top: 35vw;">
  <h3>Food Varieties</h3>
  <p>
    Exquisitely prepared with influences from around the world, our Chef uses
    locally sourced ingredients in his dishes. Indulge in creative interpretations of Africa
    and western as well as easter dishes while sipping on special drinks 
    that range from time honoured standaards to new adventure in mixlogy. 
  </p>
</ul>

<div>
  <img src="images/pizzajosy.png" alt="pizza" width="70%" height="65%">
</div>
<div class="float-container">
  <div class="float-child">
    <img class="right-side" src="images/pastajosy1.png" alt="pasta" width="80%" height="75%">
  </div>
  <div class="float-child">
    <img class="right-side" src="images/pastajosy2.png" alt="pasta2" width="80%" height="75%">
  </div>
</div>
<div class="float-container">
  <div class="float-child">
    <img class="right-side" src="images/chickenpotatojosy.png" alt="chicken" width="80%" height="75%">
  </div>
  <div class="float-child">
    <img class="right-side" src="images/fishjosy.png" alt="fish" width="80%" height="75%">
  </div>
</div>