<script>
  function mustBe() {
      var em = document.getElementById("email").required;
      document.getElementById("GFG").innerHTML = em;
  }
</script>
<style>
  form{
    width: 60%;
    height: auto;
    align-items: center;
    display: inline;
  }
</style>

<h3>You can contact us here</h3>
<div class="float-container">
  <div class="float-child" style="padding-left: 10vw;">
    <form action = "mailto:byemeinter@gmail.com" method="POST" enctype="text/plain" name="EmailForm">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">

      <label for="lname" >Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      <label for="emails">Email*</label><br>
      <input type="email" id="email" name="email" multiple required placeholder="Your Email..">
      
      <br>
      <label for="country">Country</label>
      <input type="text" id="country" name="country" placeholder="Enter Nationality">

      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

      <input type="submit" value="Submit" onclick="mustBe()">
    </form>
  </div>
  <div class="float-child">
    <img class="left-side" src="images/facadejosy.png" alt="pasta2" width="60%" height="auto">
  </div>
</div>