
<img src="images/intersFront.jpg" alt="Front night" width="100%" height="400">

<h3>Interservice, Your Home Away From Home</h3>
<p>
    Home cozy, comfortable, and spacious, your room is designed to be your home away from home. With a room that provides a private and tranquil atmosphere, enjoy the serenity away from the hustle and bustle of the city. Catereing to all your needs in a living space, your room is equipped with amenities
    that provide an effective and productive work atmosphere.
    <br>
    Your needs are served, and your relaxation is complete. 
</p>
<img class="center-image" src="images/intersGreen.jpg" alt="Front Green" width="70%" height="25%">
<h2>
    Services
</h2>
<ol>
    <li>Accomodation</li>
    <li>Catering</li>
    <li>Conference Facility</li>
    <li>Tour guide and Safaris</li>
    <li>"Tailor made services" Prior to arrival</li>
    <li>Complementary Room service on A-la-Carte</li>
    <li>Private Candle light Dinner</li>
    <li>Candle light and rose petals room decoration on request</li>
    <li>Daily House keeping service</li>
    <li>Laundry and Dry cleaning service</li>
</ol>
<ol>
    <li>Complimentary show shinning service</li>
    <li>Free parking service on site</li>
    <li>Free Wi-Fi Internet access throughout the hotel</li>
    <li>Newspaper and Magazine delivery of your choice</li>
    <li>Private Massage on request</li>
    <li>Wine Tasting Tours</li>
    <li>Car Rentals</li>
    <li>Airport Services</li>
    <li>All Rooms are Smoke free and with Balcony</li>
    <li>HD Ultra TV with DStv and Free to Air TV channels</li>
    <li>24 hours Reception</li>
</ol>
<p>

</p>
<img class="right-side" src="images/intersBar.jpg" alt="Bar" width="700" height="300"> 

    <li>Free High Speed Internet (WiFi)</li>
    <li>Hot tub</li>
    <li>Bar / lounge</li>
    <li>Children Activities (Kid / Family Friendly)</li>
    <li>Airport transportation</li>
    <li>Business Center with Internet Access</li>
    <li>Meeting rooms
<li>Special diet menus</li>
<li>
Baggage storage</li>
Newspaper</li>
Non-smoking hotel</li>
Outdoor furniture</li>
Shared lounge / TV area</li>
24-hour front desk</li>
Express check-in / check-out</li>
Dry cleaning</li>
Laundry service</li>
Ironing service</li>
Shoeshine</li>
</ul>
  