
<img sizes="(media-condition) width" class="home-img" src="images/intersFront.png" alt="Front night">
<h3>Interservice, Your Home Away From Home</h3>
<p>
    Home cozy, comfortable, and spacious, your room is designed to be your home away from home. With a room that provides a private and tranquil atmosphere, enjoy the serenity away from the hustle and bustle of the city. Catereing to all your needs in a living space, your room is equipped with amenities
    that provide an effective and productive work atmosphere.
    <br>
    Your needs are served, and your relaxation is complete. 
</p>
<img class="center-image" style="border-radius: 5vw;" src="images/intersGreen.jpg" alt="Front Green" width="90%" height="autho">
<div class="float-container">
  <div class="float-child" style="padding-right: 2vw;">
    <h3> <a href="/rooms">Accomodations</a></h3>
    <img class="right-side" src="images/deluxejosy.png" alt="pasta" width="80%" height="75%">
  </div>
  <div class="float-child">
    <h3> <a href="/bar">Bar & Restaurant</a></h3>
    <img class="left-side" src="images/barjosy.png" alt="pasta2" width="70%" height="auto">
  </div>
</div>
<h2 style="padding-top: 20vw;">
    Services
</h2>
<ol>
    <li>Accomodation</li>
    <li>Catering</li>
    <li>Conference Facility</li>
    <li>Tour guide and Safaris</li>
    <li>"Tailor made services" Prior to arrival</li>
    <li>Complementary Room service on A-la-Carte</li>
    <li>Private Candle light Dinner</li>
    <li>Candle light and rose petals room decoration on request</li>
    <li>Daily House keeping service</li>
    <li>Laundry and Dry cleaning service</li>
</ol>
<ol>
    <li>Complimentary show shinning service</li>
    <li>Free parking service on site</li>
    <li>Free Wi-Fi Internet access throughout the hotel</li>
    <li>Newspaper and Magazine delivery of your choice</li>
    <li>Private Massage on request</li>
    <li>Wine Tasting Tours</li>
    <li>Car Rentals</li>
    <li>Airport Services</li>
    <li>All Rooms are Smoke free and with Balcony</li>
    <li>HD Ultra TV with DStv and Free to Air TV channels</li>
    <li>24 hours Reception</li>
</ol>
<div class="float-container">
  <div class="float-child" style="padding-right: 7vw;">
    <h3> <a href="/spa">Spa</a></h3>
    <img class="right-side" src="images/massag3.jpg" alt="pasta" width="60%" height="auto">
  </div>
  <div class="float-child">
    <h3> <a href="/venues">Venues</a></h3>
    <img class="left-side" src="images/venues2.jpg" alt="pasta2" width="80%" height="auto">
  </div>
</div>
<div style="padding-top: 30vw; padding-bottom:10vw;">
    <img class="right-side" style="border-radius: 5vw;" src="images/intersBar.jpg" alt="Bar" width="65%" height="auto"> 
    <ul style="padding-left: 10vw;">
        <li>Free High Speed Internet (WiFi)</li>
        <li>Hot tub</li>
        <li>Bar / lounge</li>
        <li>Children Activities (Kid / Family Friendly)</li>
        <li>Airport transportation</li>
        <li>Business Center with Internet Access</li>
        <li>Meeting rooms
        <li>Special diet menus</li>
        <li>Baggage storage</li>
        <li>Newspaper</li>
        <li>Non-smoking hotel</li>
        <li>Outdoor furniture</li>
        <li>Shared lounge / TV area</li>
        <li>24-hour front desk</li>
        <li>Express check-in / check-out</li>
        <li>Dry cleaning</li>
        <li>Laundry service</li>
        <li>Ironing service</li>
        <li>Shoeshine</li>
    </ul>
</div>
<img style="padding-left: 5vw; border-radius: 7%; margin-bottom: 45%;" src="images/mapKamp.png" alt="Front night" width="95%" height="auto">
  