
<style>
    .img-left{
        float: left;
        display: inline;
    }
    .img-righ {
        float: right;
        display: inline;
    }
    .img-center{
        align-items: center;
        padding-left: 15%;
    }
    .pad-left{
        padding-left: 3vw;
    }
    .lt-center{
        text-align: center;
        padding-right: 55%;
    }
    ul{
        margin-bottom: 17vw;
    }
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: oblique;
        font-size: 1vw;
        text-align: center;
    }

</style>
<ul>
    <img class="img-left" src="images/deluxejosy.png" alt="delux" width="60%" height="50%">
    <h2 class="txt-center">Delux Room</h2>
    <h4>Single Occupancy</h4>
    <p>One Guest Staying in the Room</p>
    <h4>Double Occupancy</h4>
    <p>Couples sharing same room</p>
</ul>
<ul style="margin-bottom: 7%;">
    <img class="left-side" src="images/executivejosy1.png" alt="Excutive" width="60%" height="50%">
    <img src="images/executivejosy2.png" alt="executive2" width="40%" height="35%">
    <h2>Executive Suit</h2>
    <h4>Single or Double Occupancy</h4>
    <p>One or Two Guests Staying in the Room</p>
</ul>
<ul style="margin-bottom: 23%;">
    <img class="left-side" src="images/twinjosy.png" alt="Twin" width="60%" height="50%">
    <h2>Twin Room</h2>
    <h4>Shared Room</h4>
    <p>Two people who are not necessarily a couple <br> staying in a room 
        with two separate and identical beds
    </p>
</ul>
<ul>
    <img class="left-side" src="images/familyjosy.png" alt="Twin" width="60%" height="50%">
    <h2>Family Suit</h2>
    <h4>Family Occupancy</h4>
    <p>Four or less guest staying in the suit</p>
</ul>
<p>
    At the hotel, rooms include a desk, a flat-screen TV, a private bathroom, bed linen, towels and a balcony 
    with a garden view. Rooms are fitted with a kettle, while certain rooms are fitted with a kitchen with a 
    microwave and a toaster. The rooms have a safety deposit box. Guests at Interservice Hotel can enjoy a 
    continental breakfast. Guests can access the free WiFi or use the business centre. Kamu Kamu Plaza is 3.4 km 
    from the accommodation, while Nakumatt Oasis is 3.9 km from the property. Interservice Hotel has been 
    welcoming Booking.com guests since 31 Jan 2017.
</p>
<p>
    Most popular facilities
    Free WiFi Airport shuttle Free parking Restaurant Family rooms Spa and wellness centre Bar
    Currency exchange: Need local currency? This property offers currency exchange on site.
</p>