


<ul style="margin-bottom: 0vw; padding:6vw;">
    <img class="right-side" src="images/sauna.jpg" alt="Front night" width="80%" height="75%">
    <h2 style="padding-top: 3vw;"> <em>Amenities</em></h2>
    <p><em>Open hrs: </em>09:00 to 21:00 Everyday</p>
    <p>Warm Team in the TV hall</p>
    <p>Roasted local groundnuts</p>
    <h2>Semi-Dry Sauna</h2>
    <p>Christmas Tree and mentol flavours</p>
    <p></p>
    <h2>Steam</h2>
    <p>Comfortable sitting</p>
</ul>
<ul style="margin-bottom: 18vw; padding:6vw;">
    <img class="right-side" src="images/massag3.jpg" alt="Front night" width="60%" height="55%">
    <h2 style="padding-top: 3vw;">Scrubs</h2>
    <h4>Scrub Massage</h4>
    <h4>Steam Scrub</h4>
    <h4>Whole Body Massage</h4>
    <h4>Partly Massage</h4>
    <p>One Guest per Room</p>
    <p>Aromatic massage rooms</p>
</ul>

<ul style="margin-bottom: 50vw;">
    <img class="right-side" src="images/massag2.jpg" alt="Front night" width="43%" height="40%">
    <img class="left-side" src="images/massag1.jpg" alt="Front night" width="53%" height="52%">
</ul>