


<ul style="margin: 5vw;">
    <img class="right-side" src="images/sauna.jpg" alt="Front night" width="80%" height="75%">
    <h2 style="padding-top: 3vw;">Semi-Dry Sauna</h2>
    <p>Christmas Tree and mentol flavours</p>
    <p>Open 09:00 to 21:00 Everyday</p>
    <h2>Steam</h2>
    <p>Couples sharing same room</p>
</ul>
<ul style="margin: 5vw;">
    <img class="right-side" src="images/massag3.jpg" alt="Front night" width="80%" height="75%">
    <h2 style="padding-top: 3vw;">Delux Room</h2>
    <h4>Single Occupancy</h4>
    <p>One Guest Staying in the Room</p>
    <h4>Double Occupancy</h4>
    <p>Couples sharing same room</p>
</ul>

<ul style="margin: 5vw;">
    <img class="right-side" src="images/massag2.jpg" alt="Front night" width="80%" height="75%">
    <h2 style="padding-top: 3vw;">Delux Room</h2>
    <h4>Single Occupancy</h4>
    <p>One Guest Staying in the Room</p>
    <h4>Double Occupancy</h4>
    <p>Couples sharing same room</p>
</ul>
<ul style="margin: 5vw;">
    <img class="right-side" src="images/massag1.jpg" alt="Front night" width="80%" height="75%">
    <h2 style="padding-top: 3vw;">Delux Room</h2>
    <h4>Single Occupancy</h4>
    <p>One Guest Staying in the Room</p>
    <h4>Double Occupancy</h4>
    <p>Couples sharing same room</p>
</ul>