<h1 style="padding-top: 5vw; margin-bottom:0%"><u>Three Different Sizes of Venues </u></h1>
<ul style="margin-bottom: 0vw;">
    <img src="images/conf1.png" alt="Front night" width="80%" height="auto">
</ul>
<ul style="margin-bottom: 30vw;">
    <img class="right-side" src="images/venues2.jpg" alt="Front night" width="48%" height="44%">
    <img class="left-side" src="images/conf2.png" alt="Front night" width="51%" height="auto">
</ul>