<h1>Three Different Sizes of Venues</h1>
<ul style="margin-bottom: 0vw; padding:6vw;">
    <img src="images/conf1.png" alt="Front night" width="80%" height="auto">
</ul>
<ul style="margin-bottom: 18vw;">
    <img class="right-side" src="images/venues2.jpg" alt="Front night" width="48%" height="44%">
    <img class="left-side" src="images/conf2.png" alt="Front night" width="51%" height="auto">
</ul>